*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
.pytest*

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
venv
oka.log*
__pycache__
logs/
migrations/

# Resources
backend/app/app.db
backend/tatu-sqlite.db
frontend/package-lock.json
backend/app/static/
backend/app/media/
.env
testdb

# IDE
.idea/
*.iml
*.arff
*/token.txt
package-lock.json
token.txt
.branch_before_stashed
.commit_before_stashed
*.out
backend/.myenv
