aiuna==0.20.12b0
akangatu==0.20.12a0
alembic==1.4.3
amqp==5.0.2
apispec==4.0.0
autopep8==1.5.4
billiard==3.6.3.0
blinker==1.4
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cruipto==0.20.12a0
Flask==1.1.2
Flask-Cors==3.0.9
Flask-JWT-Extended==3.25.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
flask-smorest==0.26.0
Flask-SQLAlchemy==2.4.4
garoupa==0.20.12a0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
kombu==5.0.2
liac-arff==2.5.0
lz4==3.1.1
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
more-itertools==8.6.0
numpy==1.19.4
pandas==1.1.5
Pillow==8.0.1
prompt-toolkit==3.0.8
pycodestyle==2.6.0
PyJWT==1.7.1
PyMySQL==0.10.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
pytz==2020.4
redis==3.5.3
scikit-learn==0.23.2
scipy==1.5.4
simplejson==3.17.2
six==1.15.0
sklearn==0.0
SQLAlchemy==1.3.22
tatu==0.20.12a0
threadpoolctl==2.1.0
toml==0.10.2
vine==5.0.0
wcwidth==0.2.5
webargs==7.0.1
Werkzeug==1.0.1
zstandard==0.14.1
