aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.5
amqp==5.0.6
ansi2html==1.6.0
apispec==5.1.1
arff2pandas==1.0.1
async-timeout==4.0.1
attrs==21.2.0
autopep8==1.6.0
backcall==0.2.0
billiard==3.6.4.0
blake3==0.2.1
blinker==1.4
celery==5.2.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorclass==2.2.2
colored==1.4.2
coverage==6.2
datasets==1.16.1
decorator==5.1.0
Deprecated==1.2.13
dill==0.3.4
docopt==0.6.2
filelock==3.4.0
flake8==4.0.1
Flask==2.0.2
Flask-Cors==3.0.10
Flask-JWT-Extended==4.3.1
Flask-Limiter==2.0.2
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
flask-smorest==0.35.0
Flask-SQLAlchemy==2.5.1
frozenlist==1.2.0
fsspec==2021.11.1
garoupa==2.211207.7
greenlet==1.1.2
gunicorn==20.1.0
huggingface-hub==0.2.1
idict==3.211211.2
idna==3.3
imbalanced-learn==0.8.1
imblearn==0.0
importlib-metadata==4.8.2
importlib-resources==5.4.0
iniconfig==1.1.1
ipython==7.30.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
kombu==5.2.2
lange==0.2101.24
ldict==3.211211.1
liac-arff==2.5.0
limits==2.0.3
lz4==3.1.10
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.3
mccabe==0.6.1
more-itertools==8.12.0
multidict==5.2.0
multiprocess==0.70.12.2
numpy==1.21.4
orjson==3.6.5
packaging==21.3
pandas==1.3.4
parso==0.8.3
pathos==0.2.8
pdoc3==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip-upgrader==1.4.15
pkg_resources==0.0.0
pluggy==1.0.0
pox==0.3.0
ppft==1.6.6.4
prompt-toolkit==3.0.24
ptyprocess==0.7.0
py==1.11.0
pyarrow==6.0.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-editor==1.0.4
pytz==2021.3
PyYAML==6.0
redis==4.0.2
requests==2.26.0
scikit-learn==1.0.1
scipy==1.7.3
simplejson==3.17.6
six==1.16.0
sklearn==0.0
spark-parser==1.8.9
SQLAlchemy==1.4.28
terminaltables==3.1.10
testfixtures==6.18.3
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.1
uncompyle6==3.8.0
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
webargs==8.0.1
Werkzeug==2.0.2
wrapt==1.13.3
xdis==6.0.3
xxhash==2.0.2
yarl==1.7.2
zipp==3.6.0
zstandard==0.16.0
